.tab_container {
  width: 100%;
  display: block;
  clear: both;
  position: relative;
  box-shadow: 0 1px 2px #eee;
}

input.tab-input,section.tab-content {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 16px;
  display: block;
  float: left;
  width: 25%;
  height: 2.5em;
  line-height: 2.5em;
  color: #204a80;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked~#content1,#tab2:checked~#content2,#tab3:checked~#content3,#tab4:checked~#content4,#tab5:checked~#content5 {
  display: block;
  padding: 15px;
  background: #fff;
  color: #777;
}

.tab_container .tab-content h3 {
  text-align: center;
}

.tab_container [id^="tab"]:checked+label {
  background: #fff;
  box-shadow: inset 0 3px #204a80;
}

@media only screen and (max-width: 930px) {
  label span {
    font-size:14px;
  }

  label {
    height: 2em;
    line-height: 2em;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    font-size:13px;
  }

  label {
    height: 2em;
    line-height: 2em;
  }
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
